#screen{
    width:240px;
    height: 160px;
    background-color: green;
}

#board {
    padding-top: 20px;
    padding-left: 2px;
}

.card {
    width: 28px;
    height: 36px;
    margin-left: 5px;
    float: left;
    background-color: white;
    font-size: x-small;
}

.column-1 {}

.column-2 {
    padding-top: 8px;
}

.column-3 {
    padding-top: 16px;
}

.column-4 {
    padding-top: 24px;
}

.column-5 {
    padding-top: 32px;
}

.column-6 {
    padding-top: 40px;
}

.column-7 {
    padding-top: 48px;
}

.row {
    clear: both;
}

.second-row {
    margin-top: 1px;
    padding-top: 12px;
}

#score-row{
    position: absolute;
    margin-left: 4px;
    font-size: xx-small;
    color:white;
}